<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <contextName>log server</contextName>

    <appender name="STDOUT"
              class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                %black(%d{ISO8601}) %green(%contextName) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </pattern>
        </encoder>
    </appender>

    <appender name="H2DB" class="ch.qos.logback.classic.db.DBAppender">
            <connectionSource class="ch.qos.logback.core.db.DriverManagerConnectionSource">
                <driverClass>org.h2.Driver</driverClass>
                <url>jdbc:h2:file:./onestoplogshop;NON_KEYWORDS=value,deleted,end</url>
                <user>sa</user>
                <password>password</password>
            </connectionSource>
<!--        <param name="arg0" value="contextName"/>-->
<!--        <insertPropertiesSQL>contextName</insertPropertiesSQL>-->
    </appender>

    <receiver class="ch.qos.logback.classic.net.server.ServerSocketReceiver">
        <port>6000</port>
    </receiver>

    <receiver class="ch.qos.logback.classic.net.server.SSLServerSocketReceiver">
        <port>6001</port>
        <ssl>
            <keyStore>
                <location>${SSL_KEYSTORE_PATH}</location>
                <password>${SSL_KEYSTORE_PASSPHRASE}</password>
            </keyStore>
        </ssl>
    </receiver>

    <logger name="nl.softcause.onestoplogshop.connector.TextClientHandler" additivity="false" level="debug">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="H2DB" />
    </logger>

    <!-- LOG everything at INFO yourExpertiseLevel -->
    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="H2DB" />
    </root>

</configuration>